    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>学习笔记</h2>
                <p> 
                 安装Git<br>
                 创建版本库<br>
                 版本回退<br>
                 工作区和暂存区<br>
                 管理修改<br>
                 撤销修改<br>
                 删除文件<br>
                 添加远程库<br>
                 从远程库克隆<br>
                 分支管理<br>
                 创建与合并分支<br>
                 解决冲突<br>
                 分支管理策略

                </p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section>