    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>创建版本库</h2>
                    <p>head 指向的版本就是当前版本,因此,git允许我们在版本的历史之间穿梭 使用 git reset --hard commit _id穿梭, 用git log可以查看添加历史,以便确定回退到哪个版本要重返未来, 用git reflog 查看命令历史,以遍确定要回到未来的某个版本.
                     注意: 如果你使用reset退回到某个历史,只能回退,不能厚

  





git和其他版本控制系统如svn的一个不同之处就是有暂存区的概念</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>