    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>创建版本库</h2>
                    <p>head 指向的版本就是当前版本,因此,git允许我们在版本的历史之间穿梭 使用 git reset --hard commit _id穿梭, 用git log可以查看添加历史,以便确定回退到哪个版本要重返未来, 用git reflog 查看命令历史,以遍确定要回到未来的某个版本.<br>
                     注意: 如果你使用reset退回到某个历史,只能回退,不能厚<br>
                     <h2>工作区和版本库</h2>
                     工作区(working directory)就是电脑里能看到的目录 如我的目录wo文件夹就是一个工作区<br>
                     版本库(repository)工作区有一个目录.git,这个不算工作去,而是git的版本库
git的版本库里存了很多东西,其中最重要的就是成为stage (会叫 index) 的暂存区 换有就是我们自动创建的的一个分之 master ,以及只想master 的之一个指针叫HEAD

git和其他版本控制系统如svn的一个不同之处就是有暂存区的概念<br>
操作步骤:前面我们网git 版本库里添加的时候,是分两部执行的:

第一步: git add 把文件添加进去,实际上就是吧文件修改添加到暂存区:<br>

第二步: git  commit 提交更该

实际上就是把暂存区的内容提交到当前分之

因为我们vhuangjiangit 版本库时 git自动为我们创建了唯一一master分之,所以,在git commit 
就是往master分之上提交更改<br>
 <h2>管理修改</h2>
现在,嘉定已经掌握暂存区的概念,下面,我们姚村论的是,就是为什么
git比其他版本控制系统设计的优秀 ,应为git跟踪并管理的是修改,而非文件,
为什么说git是管理的是修改,并不是文件呢,

因为每次commit 不是提交的工作区的,而是提交的暂存区(被修改的文件) 才能提交到文档区. <br>
    <h2>删除文件</h2>
    在git中,删除也是一个修改操作,我们实战一下<br>

1. 比如先添加一个test.txt文件到git提交<br>

   2. 在把这个文件提交到暂存区->(git add test.txt)->在把他提交到版本库(git commit -m "add test.txt");<br>

   3. 一般情况下 我们通常在文件管理器中会把没用的文件删除  ,或者用rm命令删除 (rm test.txt)这个时候你只知道删除了文件却不知道删除的哪个 这个时候就发现工作区和版本去的不同了.通过(git status ) 命令立刻就会告诉你那些文件被删除了. <br>

   4. 第四步 我们有两种选择,一种是从版本库里删除文件,但是以后不会在恢复了(git rm test.txt -> git commit -m 'remove test.txt' ) <br>

   5. 还有一种是删错了,但是版本库里有,所一可以很轻松就把误删的文件恢复了(git checkout -- test.txt) <br>

       注1: git checkout  其实是用版本库里的版本替换工作区的版本,无论是工作区是修改还是删除都可以,"一键还原"<br>

      注2. 从里啊没有别添加到版本库里的被删除的文件,是无法恢复的 <br>

      小结: 命令 git rm 用于删除一个文件 ,如果一个文件已经被提交到版本库,那你永远不用担心误删,但是要小心,你只能恢复文件到最新版本,你会你最近一次后修改的内容 <br>


</p>


                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>